.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(158, 219, 239);
  padding: 2rem;
}

.left {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  margin-top: 0px;
}

.right {
  display: flex;
  flex-direction: row;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.link {
  /* color: #0b0000; */
  text-decoration: none;
}

.active {
  color: rgb(20, 20, 225);
  text-decoration: none;
}
.welcome {
  font-size: 17px;
  padding: 0.5em 1em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: dodgerblue;
  color: white;
  border-radius: 4px;
}

.welcome:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(30, 144, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.welcome:active {
  transform: translate(0em, 0.2em);
}
