.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(158, 219, 239);
  padding: 2rem;
}

.left-column {
  font-weight: bold;
}

.right-column {
  display: flex;
  flex-direction: row;
}

.link {
  /* color: #0b0000; */
  text-decoration: none;
}

.active {
  color: rgb(20, 20, 225);
  text-decoration: none;
}
