.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(144, 210, 232);
  padding: 2rem;
}

.left-column {
  font-weight: bold;
}

.right-column {
  display: flex;
  flex-direction: row;
}

.link {
  color: #f90d0d;
  text-decoration: none;
}

.active {
  color: rgb(20, 20, 225);
  text-decoration: none;
}
